
<div class="inicioContainer">
  <h4>Bem-vindo à Cheirim Bão</h4>
  <div class="divider1">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Ut enim llamco laboris nisi ut aliquip ex ea commodo conse in voluptate velit esse cillum dolore.</p>
    
    <div class="map-container">
      <iframe
        src="https://maps.google.com/maps?q=Rua%20Esp%C3%ADrito%20Santo%201580%20Belo%20Horizonte&output=embed"
        width="300"
        height="250"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
</div>
