.cardContainer{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-card-products);
  padding: 20px;
  margin: 20px;
  width: 280px;
  height: 280px;
  border-radius: 25px;
}
.textPosition{
  text-align: center;
  width: 100%;
  margin-top: 2px;
}
.cardContainer:hover{
  background-color: rgba(0, 0, 0, 0.185);
}
.colorText{
  color: var(--font-color-padrao-preto);
}
.colorTextInverso{
  color:black;
}
.iconPosition{
  float: right;
}
.imgSize{
  display: flex;
  width: 300px;
  height: 200px;
  align-items: center;
  justify-content: center;
  padding:30px;
  margin-top: -20px;
}
.imgSize img{
  max-width: 100%;
  max-height: 150px;
  display: block;
  margin: 0 auto;
}

