<mat-card class="cardProduct" appearance="outlined">
  <img mat-card-image src={{item.photo}} alt="Photo of hat" width="200px" height="150px">
  <mat-card-content>
    <mat-card-title>{{item.title}}</mat-card-title>
    <mat-card-subtitle class="discountProduct">-10% OFF</mat-card-subtitle>
    <span class="priceProduct">R$ {{item.price}}</span>
  </mat-card-content>
  <button mat-fab extended class="buttonBuy">
    <mat-icon>add_shopping_cart</mat-icon>
    <span>Comprar</span>
  </button>
</mat-card>
