.cardProduct{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 350px;
  margin: 10px;
}
.priceProduct{
  font-size: 20px;
  font-weight: bold;
  color: #0b8000;
}
.discountProduct{
  margin-top: 10px;
}
.buttonBuy{
  background-color: var(--primaryColorTheme01);
  color: var(--secondColorTheme01);
}
