<div class="camposContainer page-with-menubar" [class.menu-collapsed]="!(menubarService.isOpen$ | async)">
    <div class="section-block">
            <div class="mb-3">
                <label for="quartoId" class="form-label">Hotel</label>
                <select class="form-select" [(ngModel)]="hotel.id" name="hotelId">
                    <option value="undefined" selected>Selecione o Hotel:</option>
                    <option *ngFor="let hotel of filteredHoteis()" [value]="hotel.id">{{ hotel.name }}</option>
                </select>
        </div>
        <div class="centerData" >
              
              <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden"></ngb-datepicker>
              <div class="row g-2 mt-2">
                <div class="col">
                  <label class="form-label">Data Início</label>
                  <input class="form-control" placeholder="dd/mm/aaaa" ngbDatepicker #fromDp="ngbDatepicker" [(ngModel)]="fromDate" name="fromDate" />
                </div>
                <div class="col">
                  <label class="form-label">Data Fim</label>
                  <input class="form-control" placeholder="dd/mm/aaaa" ngbDatepicker #toDp="ngbDatepicker" [(ngModel)]="toDate" name="toDate" />
                </div>
              </div>
            
    </div>  
    <div class="btnRight" (click)="onHotelSelecionado()">
        <i class="btn btn-primary bi bi-check-circle-fill">Confirmar</i>
    </div>
</div>

<ng-template #t let-date let-focused="focused">
	<span
		class="custom-day"
		[class.focused]="focused"
		[class.range]="isRange(date)"
		[class.faded]="isHovered(date) || isInside(date)"
		(mouseenter)="hoveredDate = date"
		(mouseleave)="hoveredDate = null"
	>
		{{ date.day }}
	</span>
</ng-template>