.containerHotel{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.inline-row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.hotel
{
  width: 300px;
}
.hotel img{
  width: 100%;
  height: auto;
}
@media screen and (max-width: 570px){
  

}
