<div class="telasContainer">
  <div class="containerHotel">
      <div class="headerContainer">
        <img src="assets/imglogo.png" class="logoCasinha" (click)="router.navigate(['home'])" alt="logo turify casinha"/>
        <p class="bi bi-upload" (click)="compartilhar()"></p>
      </div>
      <div class="sliderContainer">
        @if (images?.length) {
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let img of images; let i = index">
              <div class="picsum-img-wrapper">
                <img [src]="img" [alt]="'Slide ' + (i + 1)" />
              </div>
              <!-- <div class="carousel-caption">
                <button class="btn btn-outline-primary mb-2 me-2">Todas as fotos</button>
              </div> -->
            </ng-template>
          </ngb-carousel>

        }
      </div>
      
      <div class="containerInfos">
        <h3 class="titleHotel">{{hotel.name}}</h3>
        <p class="subtitleHotel">{{category}} - {{hotel.city}} </p>
        <button type="button" class="btn btn-link buttonLink bi bi-image" (click)="openLg(content2)"> Ver + fotos</button>
        <span style="width: 100%; border: 0.5px solid #7B7B7B; box-shadow:  0.5px  0.5px  0.5px #afafaf;" ></span>
        <p class="MILpxEsconde">{{hotel.description}}</p>
        <button type="button" class="btn btn-primary MILpxMostra buttonWpp1000px" (click)="openWhatsApp()"> Reserve Já</button>
      </div>

      <div class="containerAntesDetalhes">
            <p class=" MILpxMostra textP textApenas textBold">Descrição:</p>
            <p class=" MILpxMostra textApenas textP">{{hotel.description}}</p>
            <p class="textP textApenas textBold">Diferenciais:</p>
            <p class="textApenas textP">{{hotel.diff}}</p>
            <p class="textP textApenas textBold">Funcionamento Lobby:</p>
            <p class="textApenas textP">{{hotel.lobby}}</p>
      </div>

      <div class="colum">
        <div class="detalhesContainer">
                  <p class="textApenas textBold">Comodidades Inclusas:</p>
                  <div class="icones">
                  <span class="bi bi-cup-hot"> Café da manhã</span>
                        <span *ngIf="hotel.wifi" class="bi bi-wifi"> Wifi</span>
                        <span *ngIf="hotel.swimming" class="bi bi-water"> Piscina</span>
                        <span  *ngIf="hotel.cleaning"class="bi bi-minecart"> Serviço de limpeza</span>
                        <span *ngIf="hotel.gym" class="bi bi-heart-pulse"> Academia</span>
                        <span *ngIf="hotel.pets" class="bi bi-emoji-smile"> Pets</span>
                  </div>
        </div>

      
        
        <div class="maps"> 
          <google-map *ngIf="center"
            height="360px" 
            width="100%" 
            [center]="center" 
            [zoom]="15">
            
            <map-marker 
              [position]="center" 
              [label]="'Local'">
            </map-marker>

          </google-map>

          <p>{{hotel.address}} {{hotel.number}}, {{hotel.complement}} <br/> {{hotel.city}} ({{hotel.cep}})</p>
        </div>
      </div>

      <div class="buttonWPP MILpxEsconde">
        <button type="button" class="btn btn-primary" (click)="openWhatsApp()"> Reserve Já</button>
      </div>
  </div>
</div>

 <ng-template #content2 let-modal>

    <div class="modal-header">
      <h4 class="modal-title pull-left">Todas as fotos</h4>
      <button type="button" class="btn-close pull-right" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
  <div class="modal-body ZZZ">
      @if (todasIMGS?.length) {
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let img of todasIMGS; let i = index">
            <div class="picsum-img-wrapper">
              <img [src]="img" [alt]="'Slide ' + (i + 1)" />
            </div>
            <!-- <div class="carousel-caption">
              <button class="btn btn-outline-primary mb-2 me-2">Todas as fotos</button>
            </div> -->
          </ng-template>
        </ngb-carousel>
      }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
      </div>

   
 </ng-template>