.barColor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 53px;
  padding: 0 16px;
  background-color: #cecece;
  z-index: 0;
}
.telasContainer {
  display: flex;
  align-items: start;
  justify-content: center;
  min-height: 100vh; // ocupa toda a altura da tela
  background-color: #FFFFFF;
}
.containerHotel{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
}
.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 1;
}

.logoCasinha {
  width: 100px;
  height: auto;
}
.textBold{
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 5px;
}

.headerContainer p {
  margin: 0;
  cursor: pointer;
  font-size: 1.5rem;
}
.inline-row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.maps
{
  width: 95%;
  margin-bottom: 80px;
  margin-top: 30px;
}
img{
  width: 100%;
  height: auto;
  max-height: 250px;
}
.buttonLink{
  color: rgb(3, 67, 116);
  margin-top: -20px;
}
.sliderContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.MILpxEsconde{
  display: flex;
}
.MILpxMostra{
  display: none;
}
.containerInfos{
  width: 100%;
  z-index: 3;
  padding: 10px;
  background-color: #FFFFFF;;
  border-radius: 25px;
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}
.titleHotel{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-weight: 600;
}
.subtitleHotel{
  margin-top: -25px;
}
.detalhesContainer{
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  border: 0.5px solid #5A5A5A80;
  box-shadow: 1px 1px 1px #afafaf;
}
.icones{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}
.icones span{
   width: 49%;
}
.buttonWPP button{
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 18px;
  background-color: rgb(3, 67, 116);
  z-index: 4;
  box-shadow: 1px 1px 1px #afafaf;
}
.buttonTela{
  padding: 18px;
  background-color: rgb(3, 67, 116);
  z-index: 4;
  box-shadow: 1px 1px 1px #afafaf;
}
.alignSelf1{
  display: flex;
  align-self: flex-end;
}
.ZZZ img{
  width: 100%;
  height: auto;
  max-height: 250px;

}
.textApenas{
  padding: 5px;
}
.maps{
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 60px;
    box-shadow: 1px 1px 1px #afafaf;
  }
.textP {
    padding: 10px;
  }


  .fotosSecundarias img{
    width: 190px;
    margin:  10px;
    height: auto;
    cursor: pointer;
  }
  .fotosSecundarias p{
    width: 190px;
    margin:  10px;
    height: 100px;
    border-radius: 5px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
  }


@media screen and (min-width: 580px){
  .containerHotel{
    flex-direction: row;
  }
  .sliderContainer{
    width: 55%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  img{
    max-height:300px;
     border-radius: 5px;
  }
  .containerInfos{
    width: 45%;
    margin-top: 20px;
  }
  .buttonWPP{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px auto;
    padding: 0;
  }
  .maps{
    width: 100%;
    margin-top: 10px;
  }
  .ZZZ img{
    width: 100%;
    height: auto;
    max-height: 500px;
  }
}
@media screen and (min-width: 900px){
  .containerHotel{
    width: 100%;
    max-width: 1000px;
    background-color: #FFFFFF;
  }
  .colum{
    width: 45%;
  }
  .containerAntesDetalhes{
    display: flex;
    width: 55%;
    padding: 0;
    margin: 0;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .detalhesContainer{
    width: 100%;
  }
  .MILpxEsconde{
    display: none;
  }
  .MILpxMostra{
    display: flex;
  }
  .buttonWpp1000px{
    padding: 18px;
    margin: 20px;
    background-color: rgb(3, 67, 116);
    box-shadow: 1px 1px 1px #afafaf;
  }
  .maps{
    margin: 0 auto;
    max-width: 100%;
  }
  .colum{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .displayFlexRow{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .spaceB{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  .subtitleHotel{
    margin-top: -20px;
  }
}
