.tamanhoSlider{
    width: 800px;
    height: 400px;
    max-height: 500px !important;
    margin-top: 50px;
}
.tamanhoSliderSmall{
    width: 260px;
    height: 400px;
    max-height: 500px !important;
}
img {
    max-height: 500px !important;
    width: 100%;
    margin: 0 auto;
}
h3{
    text-shadow: 2px 2px black;
}

@media screen and (max-width: 500px){
    .tamanhoSlider{
        width: 100%;
        height: auto;
        max-height: 300px !important;
    }
   
    .tamanhoSliderSmall{
        width: 100%;
        height: auto;
        max-height: 500px !important;
    }
}