
<div class="quartosContainer">
    <app-menubar></app-menubar>
    <div class="tabelaContainer">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Quarto</th>
            <th scope="col">Camas</th>
            <th scope="col">Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Quarto Casal</td>
            <td>2</td>
            <td>R$ 100,00</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Quarto Solteiro</td>
            <td>1</td>
            <td>R$ 80,00</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Quarto Family</td>
            <td>4</td>
            <td>R$ 300,00</td>
            </tr>
        </tbody>
        </table>

    </div>


</div>



<button class="btn btn-primary mb-2 me-2 bi bi-plus-circle buttonFlutua" (click)="router.navigate(['cadastro'])"> Adicionar</button>