<div [@collapseExpand]="isOpen ? 'expanded' : 'collapsed'" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark contBar"  style="width: 280px; height: 100vh; position: fixed;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <img src="assets/imglogo.png" class="logoCasinha" alt="logo turify casinha"/>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link text-white" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Hoteis
        </a>
      </li>
      <li>
        <a href="" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="cadastro" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Cadastro
        </a>
      </li>
    </ul>
    <i class="bi bi-list menuBarIcon" (click)="toggleMenu()"></i>
  </div>

<i *ngIf="!isOpen" class="bi bi-list menuBarIcon2"  style="margin: 10px " (click)="toggleMenu()"></i>