.logoCasinha{
    width: 150px;
    height: auto;
}
.menuBarIcon{
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    cursor: pointer;
    color: rgb(153, 153, 153);
}
.menuBarIcon2{
    position: fixed;
    top: 0;
    left: 0;
    justify-content: flex-start;
    font-size: 40px;
    cursor: pointer;
    color: rgb(153, 153, 153);
    z-index: 999;
}
.contBar{
    z-index: 999;
    height: 100vh;
}