<div class="formCadastro">
<h4>Cadastro ou</h4>
<button class="btn btn-outline-primary" (click)="navegaLogin()" >Logar</button>

<form [formGroup]="formGroup" (ngSubmit)="cadastroSubmit(formGroup)" class="formCadastro">

  <div class="mb-3 primeiroFormCustom">
    <label for="name" class="form-label">Username (login)</label>
    <input type="name" class="form-control" formControlName="username" placeholder="">
  </div>
  <!-- <div class="mb-3">
    <label for="email" class="form-label">Email (Login)</label>
    <input type="email" class="form-control" formControlName="email" placeholder="nome@exemplo.com">
  </div> -->
  <div class="mb-3">
    <label for="password" class="form-label">Senha</label>
    <input type="password" formControlName="password" class="form-control">
  </div>
  <div class="mb-3">
    <label for="passInputConfirmForm" class="form-label">Senha (confirmar)</label>
    <input type="password" formControlName="passConfirm" class="form-control" aria-describedby="passwordHelpBlock">
    <div id="passwordHelpBlock" class="form-text">
      As senhas devem ser iguais.
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

</div>
