<div class="cadastroContainer">
  <app-menubar></app-menubar>
  <div class="cadastroForm">
    <div *ngIf="currentStep === 1" class="formContainer 1">
        <h3>Informações Básicas do Hotel </h3>

            <div class="col-lg-12 col-md-12">
              <label for="name" class="form-label">Nome do hotel</label>
              <input type="text" class="form-control" [(ngModel)]="itemCadastro.name" >
            </div>
            <div class="col-lg-12 col-md-12">
              <label for="rede" class="form-label">Rede (opcional)</label>
              <input type="text" class="form-control" [(ngModel)]="itemCadastro.rede" >
            </div>
            <div class="col-lg-12 col-md-12">
              <label for="cnpj" class="form-label">CNPJ</label>
              <input type="text" class="form-control" [(ngModel)]="itemCadastro.cnpj" >
            </div>
            <div class="col-lg-12 col-md-12">
              <label for="razao" class="form-label">Razão social</label>
              <input type="text" class="form-control" [(ngModel)]="itemCadastro.razao" >
            </div>
            
          <div class="col-lg-12 col-md-12">
            <label for="category" class="form-label">Categoria</label>
            <select class="form-select" [(ngModel)]="itemCadastro.category" >
              <option value="" disabled selected>Selecione:</option>
              <option value="1">Resort</option>
              <option value="2">Hotel</option>
              <option value="3">Pousada</option>
            </select>

         </div>

      <button class="btn btn-primary btn-md buttonSubmit bi bi-arrow-right-circle" (click)="onNextCadastro(1)"> Continuar cadastro</button>  
    </div>

    <div *ngIf="currentStep === 2" class="formContainer 2">
        <h3>Representante Legal</h3>

            <div class="col-lg-12 col-md-12">
              <label for="nomeRep" class="form-label">Nome</label>
              <input type="text" class="form-control" [(ngModel)]="itemCadastro.nomeRep" >
            </div>
            <div class="col-lg-12 col-md-12">
              <label for="telRep" class="form-label">Telefone</label>
              <input type="text" class="form-control" [(ngModel)]="itemCadastro.telRep" >
            </div>
            <div class="col-lg-12 col-md-12">
              <label for="cpfRep" class="form-label">CPF</label>
              <input type="text" class="form-control" [(ngModel)]="itemCadastro.cpfRep" >
            </div>
            <div class="col-lg-12 col-md-12">
              <label for="emailRep" class="form-label">E-mail</label>
              <input type="text" class="form-control" [(ngModel)]="itemCadastro.emailRep" >
            </div>
            
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary btn-md buttonSubmit bi bi-arrow-right-circle" (click)="onPreviousCadastro()"> Voltar</button>
        <button class="btn btn-primary btn-md buttonSubmit bi bi-arrow-right-circle" > Continuar cadastro</button>  
      </div>
    </div>

    <div *ngIf="currentStep === 121" class="formContainer 2">
          <div class="col-lg-6 col-md-12">
            <label for="child" class="form-label">Crianças</label>
            <select class="form-select" formControlName="child" >
              <option value="" disabled selected>Selecione:</option>
              <option value="1">Adequado para Crianças</option>
              <option value="2">Não Adequado para Crianças</option>
            </select>
          </div>
      
            <div class="col-lg-12 col-md-12">
              <label for="city" class="form-label">Cidade</label>
              <input type="text" formControlName="city" class="form-control" >
            </div>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <label for="pet" class="form-label">Animais</label>
            <select class="form-select" formControlName="pet" >
              <option value="" disabled selected>Selecione:</option>
              <option value="1">Adequado para Animais</option>
              <option value="2">Não Adequado para Animais</option>
            </select>
          </div>
          <div class="col-lg-6 col-md-12">
              <label for="tax" class="form-label">Taxa animal (opcional)</label>
              <input type="text" class="form-control" formControlName="tax" placeholder="R$">
          </div>
          <div class="col-lg-12 col-md-12">
              <label for="desc" class="form-label">Descrição</label>
              <input type="text" formControlName="desc" class="form-control" >
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
              <label for="url" class="form-label">Url</label>
              <input type="text" class="form-control" formControlName="url" >
            </div>
            <div class="col-lg-6 col-md-12">
              <label for="cep" class="form-label">CEP</label>
              <input type="text" class="form-control" formControlName="cep" >
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
              <label for="endereco" class="form-label">Endereço</label>
              <input type="text" class="form-control" formControlName="endereco" >
            </div>
            <div class="col-lg-3 col-md-12">
              <label for="num" class="form-label">Número</label>
              <input type="text" class="form-control" formControlName="num" >
            </div>
            <div class="col-lg-3 col-md-12">
              <label for="comp" class="form-label">Complemento</label>
              <input type="text" class="form-control" formControlName="comp">
            </div>
        </div>
         <div class="row">
            <div class="col-lg-6 col-md-12">
              <label for="lobby" class="form-label">Horário Recepção</label>
              <input type="text" class="form-control" formControlName="lobby" >
            </div>
            <div class="col-lg-6 col-md-12">
              <label for="diff" class="form-label">Diferenciais (destaques)</label>
              <input type="text" formControlName="diff" class="form-control" >
            </div>
        </div>

      
       <div class="row">
          <div class="col-lg-6 col-md-12">
            <label for="checkCafe" class="form-label">Café da manhã</label>
            <select class="form-select" formControlName="checkCafe" >
              <option value="" disabled selected>Selecione:</option>
              <option value="1">Incluso</option>
              <option value="2">Não incluso</option>
            </select>
          </div>
          <div class="col-lg-6 col-md-12">
            <label for="checkWifi" class="form-label">Wifi</label>
            <select class="form-select" formControlName="checkWifi" >
              <option value="" disabled selected>Selecione:</option>
              <option value="1">Incluso</option>
              <option value="2">Não incluso</option>
            </select>
          </div>
        </div>
         <div class="row">
          <div class="col-lg-6 col-md-12">
            <label for="checkPiscina" class="form-label">Piscina</label>
            <select class="form-select" formControlName="checkPiscina" >
              <option value="" disabled selected>Selecione:</option>
               <option value="1">Incluso</option>
              <option value="2">Não incluso</option>
            </select>
          </div>
          <div class="col-lg-6 col-md-12">
            <label for="checkLimpeza" class="form-label">Serviço de limpeza</label>
            <select class="form-select" formControlName="checkLimpeza" >
              <option value="" disabled selected>Selecione:</option>
               <option value="1">Incluso</option>
              <option value="2">Não incluso</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <label for="checkAcademia" class="form-label">Academia no local</label>
            <select class="form-select" formControlName="checkAcademia" >
              <option value="" disabled selected>Selecione:</option>
               <option value="1">Incluso</option>
              <option value="2">Não incluso</option>
            </select>
          </div>
          </div>

         <div class="row rowProximidades">
          <div class="col-lg-12 col-md-12">
            <div>
              <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkPraia">
              <label class="form-check-label" for="checkPraia">
                Próximo a praia
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkCentro">
              <label class="form-check-label" for="checkCentro">
                Próximo ao centro
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkAeroporto">
              <label class="form-check-label" for="checkAeroporto">
                Próximo ao aeroporto
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkRodoviria">
              <label class="form-check-label" for="checkRodoviria">
                Próximo a rodoviária
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkHospitais">
              <label class="form-check-label" for="checkHospitais">
                Próximo a hospitais
              </label>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
</div>

