.cadastroContainer{
    margin: 0;
    padding:0;
}
.cadastroForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 20px;
    
}
.buttonSubmit{
    margin: 20px;
}
.formContainer{
    height: 80vh;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formContainer h3{
    text-align: center;
    margin-top: 0px;
}
.margin10{
    margin: 10px;
}