<div class="containerIMC">
  <section class="bemVindoCustom containerCustom2">
    <div class="bg-light border rounded-3 p-3 containerchatrs">
      <div >
        <h4 style="text-align: center;">IMC</h4>
        <h5 style="text-align: center;">Vamos atualizar seu IMC?</h5>
        <button class="btn btn-lg btn-outline-primary botaoMetaCustom" (click)="open(content)">Calcular IMC</button>
        <hr/>
      </div>
      <div class="boxCustonContainerSwitches">
        <div class="switchCustom">
          <ngx-charts-bar-vertical
          [view]="view"
          [results]="single"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </section>
</div>





<ng-template #content let-c="close">
  <app-newbody [content]="content" (subbimit)="this.getIMCs()"></app-newbody>
</ng-template>
