<div class="formLogin">
<h4>Login</h4>
<form [formGroup]="formGroup" (ngSubmit)="onLoginSubmit(formGroup)" class="formLogin">
  <div class="col-lg-6 col-md-12 primeiroFormCustom">
    <label for="username" class="form-label">Username</label>
    <input type="username" class="form-control" formControlName="username">
  </div>
  <div class="col-lg-6 col-md-12">
    <label for="password" class="form-label">Senha</label>
    <input type="password" formControlName="password" class="form-control">
  </div>
  <hr/>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
