<div class="formLogin">
<h4>Login ou</h4>
    <button class="btn btn-outline-primary" (click)="navegaCadastro()" >Cadastrar</button>
<form [formGroup]="formGroup" (ngSubmit)="onLoginSubmit(formGroup)" class="formLogin">
  <div class="mb-3 primeiroFormCustom">
    <label for="username" class="form-label">Username</label>
    <input type="username" class="form-control" formControlName="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Senha</label>
    <input type="password" formControlName="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
