
.formLogin{
  display: flex;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.primeiroFormCustom{
  margin-top: 35px;
}
