<form [formGroup]="formGroup" (ngSubmit)="onLoginSubmit(formGroup)" class="formLogin">
  <h2>Login</h2>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" formControlName="email" placeholder="nome@exemplo.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Senha</label>
    <input type="password" formControlName="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
