<div
class="filtrosContainer">
    <!-- <div class="itensCategories"
    *ngFor="let itemCat of category"
    (click)="onClickCategory(itemCat)">
      <img src="assets/vestir.png" alt="logo" class="imgCategory" />
      <p>{{itemCat}}</p>
    </div> -->
    <div class="itensCategories">
      <img src="assets/sapato.png" alt="logo" class="imgCategory" />
      <p>Sapato</p>
    </div> 
    <div class="itensCategories">
      <img src="assets/vestir.png" alt="logo" class="imgCategory" />
      <p>Vestido</p>
    </div> 
    <div class="itensCategories">
      <img src="assets/calca.png" alt="logo" class="imgCategory" />
      <p>Calça</p>
    </div> 
  </div>
