.filtrosContainer{
  display: flex;
  border-radius: 25px;
  padding: 20px;
  margin: 12px;
  background-color: #90a6bb;
  border: 1px 1px rgb(85, 85, 85);
  width: 150px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}