.filtrosContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    margin-top: 10px;
}
.itensCategories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px ;
}
.itensCategories img{
    background-color: rgb(207, 207, 207);
    border-radius: 50%;
    border: 1px solid black;
}
.imgCategory{
    height: auto;
    width: 60px;
    max-height: 60px;
}
.filtrosContainer p {
    height: 10px;
}