
section{
  display: flex;
  justify-content: center;
}
.sizeCustom{
  height: 100vh;
  padding-top: 20px;
  background-color: var(--background-pagina);
}
.categoriaCustom{
  padding-left: 5px;
}
.containerServicos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.servicosCustom{
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.containerchatrs{
  width: 600px;
}
.legend-labels{
  width: 100px;
}
.bemVindoCustom{
  width: 100%;
  max-height: 600px;
}
.switchCustom{
  padding: 20px;
  margin-left: 30px;
  box-shadow: 1px 1px 1px rgb(185, 185, 185);
  border-radius: 5px;
}

@media screen and (max-width: 450px){
  .containerchatrs{
    width: 400px;
  }
}
