<div class="divGiga">
<div class="containerBoxes">

            <div class="bg-light border rounded-3 p-3 metasCOntainer">
              <div >
                <h4 style="text-align: center;">Metas da semana</h4>
                <button class="btn btn-lg btn-outline-primary botaoMetaCustom" (click)="open(content)">Nova Meta</button>
                <hr class="hrCustom"/>
              </div>
              <div class="boxCustonContainerSwitches">
                <div *ngFor="let item of itens" class="form-check form-switch switchCustom">
                  <input *ngIf="item.state == 1" class="form-check-input switchBotaoncheck" type="checkbox" id="flexSwitchCheck" (change)="onSwitchChange(item.id)" checked >
                  <input *ngIf="item.state == 2" class="form-check-input switchBotaon" type="checkbox" id="flexSwitchCheck" (change)="onSwitchChange(item.id)" >
                  <label class="form-check-label psCustom" for="flexSwitchCheck">
                    <p class="titleCustom">{{item.title}}</p>
                    <p class="textDescCustom">{{item.description}}</p>
                  </label>
                  <button class="bi bi-trash fs-5 excluirButtonCustom" (click)="deleteMeta(item.id)" ></button>
                </div>
              </div>
            </div>
      </div>

<ng-template #content let-c="close">
  <app-newmeta [maisDe5Metas]="maisDe5Metas" (subbimit)="saveModal()"></app-newmeta>
</ng-template>
</div>
