
<div class="sizeCustom">
<div class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row ">
          <div class="bg-light border rounded-3 p-1 h-100 sticky-top">
              <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate">
                  <li class="nav-item">
                      <a href="#" class="nav-link px-2 text-truncate">
                          <i class="bi bi-house fs-5"></i>
                          <span class="d-none d-sm-inline categoriaCustom">Home</span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-2 text-truncate">
                          <i class="bi bi-speedometer fs-5"></i>
                          <span class="d-none d-sm-inline categoriaCustom">Dashboard</span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-card-text fs-5"></i>
                          <span class="d-none d-sm-inline categoriaCustom">Orders</span> </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-bricks fs-5"></i>
                          <span class="d-none d-sm-inline categoriaCustom">Products</span> </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-people fs-5"></i>
                          <span class="d-none d-sm-inline categoriaCustom">Customers</span> </a>
                  </li>
              </ul>
          </div>

      <section class="overflow-auto bemVindoCustom">
          <div class="bg-light border rounded-3 p-3 containerchatrs">
            <h4>Seja Bem Vindo, Luca!</h4>
            <h5>Vamos conferir as metas da semana?</h5>
            <div class="form-check form-switch switchCustom">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">Ir na Academia 3x semana</label>
            </div>
            <div class="form-check form-switch switchCustom">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
              <label class="form-check-label" for="flexSwitchCheckDefault">Melhorar alimentação</label>
            </div>
            <div class="form-check form-switch switchCustom">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" >
              <label class="form-check-label" for="flexSwitchCheckDefault">Beber 1L de água por dia</label>
            </div>
            <div class="form-check form-switch switchCustom">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
              <label class="form-check-label" for="flexSwitchCheckChecked">Outra meta aqui</label>
            </div>
            <div class="form-check form-switch switchCustom">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" >
              <label class="form-check-label" for="flexSwitchCheckDefault">outra meta aqui</label>
            </div>
            <div class="form-check form-switch switchCustom">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">outra meta aqui</label>
            </div>
          </div>
      </section>
      <section class="overflow-auto bemVindoCustom">

        <div class="bg-light border rounded-3 p-3 containerchatrs">

          <h4>Acompanhamento das Metas</h4>
          <h5>Para não perder de vista</h5>
          <ngx-charts-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="itens"
            [gradient]="gradient"
            [legend]="showLegend"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            (select)="onSelect($event)"
          >
          </ngx-charts-pie-chart>

        </div>
      </section>

  </div>
</div>
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>One fine body&hellip;</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>


