
section{
  display: flex;
  justify-content: center;
}
.categoriaCustom{
  padding-left: 5px;
}
.containerServicos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.servicosCustom{
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.containerchatrs{
  width: 600px;
}
.ngxChartsCustom{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
.legend-labels{
  width: 100px;
}
.bemVindoCustom{
  margin-left: 20px;
  margin-top: 0px;
  height: 100%;
}
.switchCustom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-left: 30px;
  box-shadow: 1px 1px 1px rgb(185, 185, 185);
  border-radius: 5px;
}
.botaoMetaCustom{
  width: 100%;
}
.containerBoxes{
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.switchBotaon{
  cursor: pointer;
}
.containerCustom2{
  max-height: 550px;

}
.boxCustonContainerSwitches{
  width: 100%;
  max-height: 380px;
  overflow-y: scroll;
}
.excluirButtonCustom{
  color: rgb(150, 0, 0);
  cursor: pointer;
  border: none;
}
.excluirButtonCustom:hover{
  background-color:rgb(215, 138, 138);
}
.titleCustom{
  font-size: 1.4rem;
}
.textCustom{
  font-size: 1.1rem;
  font-weight: bold;
}
.psCustom p {
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 570px){
  .containerchatrs{
    width: 400px;
  }
  .containerBoxes{
    margin: 0px;
    padding: 0px;
    align-items: center;
  }
}
