.containerPaginaDetalhes{
  padding-top: 50px;
}
.containerImgDetalhes{
  width: 600px;
  height: auto;
  background-color: #ffffff;
  max-height: 100%;
}
.containerImgDetalhes img{
  width: 100%;
  height: auto;
  max-height: 100%;
}
.containerPrecoDetalhes{
  width: 600px;
  height: 400px;
  margin-right: 80px;
}
.containerPrecoDetalhes p{
}
.buttonComprar{
  margin-top: 20px;
  float: right;
}
.containerButtons{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px){
  .containerImgDetalhes{
    width: 100%;
    height: 500px;
  }
  .containerImgDetalhes img{
    width: 100%;
    height: auto;
    max-height: 500px;
    margin-top: 0px;
    text-align: center;
  }
  .containerPrecoDetalhes{
    margin-top: 0px;
    width: 100%;
    height: 400px;
  }
}
