.managersContainer{
    height: 100%;
    width: 100%;
}

.melhorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    
}