

*, body {
  margin: 0;
  padding: 0;
}
.titleCustom{
  color: white;
  font-size: 1.7rem;
}
.botoesNavBar{
  margin-right: 10px;
}
.buttonLoginCustom{
  font-size: 1.2rem;
  color: white;
}
.customToggle{
  color: white;
}
.telas{
  height: 100vh;
}
.menuCustom{
  display: flex;
  flex-direction: row;
}
.containerMenu{
  float: left;
  width: 150px;
  margin-top: 10px;
}
.containerMenu ul li a{
  text-decoration: none;
  color:#0952bf;
}
.containerMenu ul li a:hover{
  text-shadow: 0.5px 0.5px rgb(166, 166, 166);
}
.logoutCont{
  color:#0952bf;
  cursor: pointer;
}
.logoutCont:hover{
  text-shadow: 0.5px 0.5px rgb(166, 166, 166);
}
section{
  display: flex;
  justify-content: center;
}
.sizeCustom{
  height: 100vh;
  padding-top: 20px;
  background-color: rgb(94, 94, 94);
}
.categoriaCustom{
  padding: 10px;
}
.containerMenu ul li {
  padding: 10px;
}
.containerServicos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.servicosCustom{
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.containerchatrs{
  width: 600px;
}
.legend-labels{
  width: 100px;
}
.bemVindoCustom{
  margin-left: 20px;
}
.telasContainer{
  // background-image: radial-gradient(circle, purple,  var(--primaryNewColorPurple));
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: fixed;
  background-color: rgb(227, 227, 227);
  height: 100%;
  padding-top: 10px;
}
.headerBomdia{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: rgb(89, 161, 233);
  color: white;
}
.headerBomdia h4{
  margin-top: -15px;
}
.buttonLogout{
  color: white;
}
@media screen and (max-width: 565px  ) {
  .containerMenu{
    width: 100%;
    border-radius: 50%;
    bottom: 0;
    top:auto;
  }
  .containerMenu{
    max-width: 100%;

  }
  .telas{
    overflow: auto;
  }
}
