

*, body {
  margin: 0;
  padding: 0;
}
.toolbarCustom{
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  background-color: rgb(13,110,253);
}
.titleCustom{
  color: white;
  font-size: 1.7rem;
  margin: 5px
}
.botoesNavBar{
  margin-right: 10px;
}
.buttonLoginCustom{
  font-size: 1.2rem;
  color: white;
}
.customToggle{
  color: white;
}
.telas{
  height: 100vh;
}
.menuCustom{
  display: flex;
  flex-direction: row;
}
