
<mat-toolbar class="toolbarAll">
	<div class="toolbarLeft">
		<span class="material-icons">
			menu
		</span>
		<span class="titleEcomm">Ecomm-v01</span>
	</div>
	<div class="toolbarRight">
		<a mat-icon-button aria-label="Home" href="/home">
			<span class="material-icons">
				home
			</span>
		</a>
		<a mat-icon-button  aria-label="Admin" href="/login">
			<span class="material-icons">
				account_circle
			</span>
		</a>
		<a mat-icon-button  aria-label="Carrinho" href="/cart">
			<span class="material-icons">
				shopping_cart
			</span>
		</a>
	</div>
</mat-toolbar>
<div class="telas">
  <router-outlet></router-outlet>
</div>