<form class="example-form">
  <mat-form-field>
    <mat-label>Título</mat-label>
    <input matInput value={{itemSelected?.title}}>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Foto</mat-label>
    <input matInput value={{itemSelected?.photo}}>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Categoria</mat-label>
      <input matInput value={{itemSelected?.category}}>
    </mat-form-field>
  <mat-form-field>
      <mat-label>Disponível</mat-label>
      <input matInput type="number" value={{itemSelected?.available}}>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Preço</mat-label>
    <input matInput type="number" value={{itemSelected?.price}}>
  </mat-form-field>

  <button mat-fab extended mat-dialog-close>
    <mat-icon>cancel</mat-icon>
    <span>Cancelar</span>
  </button>

  <button mat-fab extended [mat-dialog-close]="true" *ngIf="this.hasDataID" (click)="onHandleAtualizar()">
    <mat-icon>edit</mat-icon>
    <span>Editar</span>
  </button>

  <button mat-fab extended [mat-dialog-close]="true" *ngIf="!this.hasDataID" (click)="onHandleAtualizar()">
    <mat-icon>add_circle</mat-icon>
    <span>Novo</span>
  </button>
</form>
