<div class="adminContainer">
  <h4>Buscar:</h4>
      <input
        id="typeahead-format"
        type="text"
        class="form-control col-lg-6 col-md-12"
        [(ngModel)]="hotel"
        (ngModelChange)="onHotelSelecionado()"
        [ngbTypeahead]="search"
        accentSensitive="false"
        [resultFormatter]="formatter"
        [inputFormatter]="formatter"
      />
      <hr/>
  <div  *ngFor="let item of filteredHoteis" class="hotelCard col-lg-6 col-md-12">
    <span class="text-center spanName">{{item.name}}</span>
    <span class="text-center spanName">{{item.url}}</span>
    <button class="btn btn-outline-primary mb-2 me-2 bi bi-pencil" (click)="openLg(content, item.id)">Editar</button>
  </div>
  <button class="btn btn-primary mb-2 me-2 bi bi-plus-circle buttonFlutua" (click)="openLg(content)"> Adicionar</button>
</div>



  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Cadastro Hotel</h4>
      <button type="button" class="btn-close pull-right" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formGroupAdmin" (ngSubmit)="onCadastraSubmit(formGroupAdmin)">
        <div class="row">
            <div class="col-lg-6 col-md-12">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" formControlName="name" required>
            </div>
            <div class="col-lg-6 col-md-12">
              <label for="desc" class="form-label">Descrição</label>
              <input type="text" formControlName="desc" class="form-control" required>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <label for="category" class="form-label">Categoria</label>
            <select class="form-select" formControlName="category" required>
              <option value="" disabled selected>Selecione:</option>
              <option value="1">Resort</option>
              <option value="2">Hotel</option>
              <option value="3">Pousada</option>
              <option value="4">Hostel</option>
            </select>
          </div>
          <div class="col-lg-6 col-md-12">
            <label for="child" class="form-label">Aequado para crianças</label>
            <select class="form-select" formControlName="child" required>
              <option value="" disabled selected>Selecione:</option>
              <option value="1">Sim</option>
              <option value="2">Não</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <label for="pet" class="form-label">Aequado para animais</label>
            <select class="form-select" formControlName="pet" required>
              <option value="" disabled selected>Selecione:</option>
              <option value="1">Sim</option>
              <option value="2">Não</option>
            </select>
          </div>
          <div class="col-lg-6 col-md-12">
              <label for="tax" class="form-label">Taxa animal (opcional)</label>
              <input type="text" class="form-control" formControlName="tax" placeholder="R$">
          </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
              <label for="id" class="form-label">Id</label>
              <input type="text" class="form-control" formControlName="id" required>
            </div>
            <div class="col-lg-6 col-md-12">
              <label for="cep" class="form-label">CEP</label>
              <input type="text" class="form-control" formControlName="cep" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
              <label for="endereco" class="form-label">Endereço</label>
              <input type="text" class="form-control" formControlName="endereco" required>
            </div>
            <div class="col-lg-3 col-md-12">
              <label for="num" class="form-label">Número</label>
              <input type="text" class="form-control" formControlName="num" required>
            </div>
            <div class="col-lg-3 col-md-12">
              <label for="comp" class="form-label">Complemento</label>
              <input type="text" class="form-control" formControlName="comp">
            </div>
        </div>

      <div class="fotosContainer" formArrayName="fotos">
        <span class="text-center">Fotos</span>
        <div *ngFor="let foto of fotos.controls; let i = index" class="col-lg-12 col-md-12 paddingPhoto d-flex align-items-center">
          <input type="text" class="form-control me-2" [formControlName]="i" placeholder="Endereço da foto">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeFoto(i)">&#10005;</button>
        </div>
        <button type="button" class="btn bi bi-camera btn-outline-primary" (click)="addFoto()"> Adicionar</button>
      </div>

        <div class="row">
          Comodidades:
          <div class="col-lg-6 col-md-12">
            <div>
              <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkCafe">
              <label class="form-check-label" for="checkCafe">
                Café da manhã
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkWifi">
              <label class="form-check-label" for="checkWifi">
                Wifi
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkPiscina">
              <label class="form-check-label" for="checkPiscina">
                Piscina
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkLimpeza">
              <label class="form-check-label" for="checkLimpeza">
                Serviço de limpeza
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkAcademia">
              <label class="form-check-label" for="checkAcademia">
                Academia
              </label>
            </div>
          </div>
        </div>
        
            
        </div>
         <div class="row">
          Proximidades:
          <div class="col-lg-6 col-md-12">
            <div>
              <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkPraia">
              <label class="form-check-label" for="checkPraia">
                Próximo a praia
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkCentro">
              <label class="form-check-label" for="checkCentro">
                Próximo ao centro
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkAeroporto">
              <label class="form-check-label" for="checkAeroporto">
                Próximo ao aeroporto
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkRodoviria">
              <label class="form-check-label" for="checkRodoviria">
                Próximo a rodoviária
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="checkHospitais">
              <label class="form-check-label" for="checkHospitais">
                Próximo a hospitais
              </label>
            </div>
          </div>
        </div>
        
            
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </ng-template>
