.adminContainer{
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
}
.melhorias{
  width: 100%;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.spanName{
  width: 200px;
  padding: 20px;
}
.hotelCard{
  width: 550px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid #8f8f8f;
}
.hotelCard img{
  width: 180px;
  height: 180px;
  border-radius: 15px;
  object-fit: cover;
}
.spaceB{
  gap: 1px;
}
.buttonFlutua{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
}
.fotosContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}
.paddingPhoto{
  padding: 5px;
}
.starredButton{
  color: yellow;
  margin: 5px;
}
.rowProximidades{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 780px){
  .hotelCard{
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    height: auto;
  }
}