

<div class="adminContainer">
  <app-menubar></app-menubar>
  
  <div class="melhorias">
    <h4>Buscar:</h4>
      <input
        id="typeahead-format"
        type="text"
        class="form-control col-lg-6 col-md-6"
        [(ngModel)]="hotel"
        (ngModelChange)="onHotelSelecionado()"
        [ngbTypeahead]="search"
        accentSensitive="false"
        [resultFormatter]="formatter"
        [inputFormatter]="formatter"
      />
      <hr/>
    <div  *ngFor="let item of filteredHoteis" class="hotelCard col-lg-6 col-md-6">
      <img src="assets/hotel-free.jpg" alt="imagem principal hotel"/>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <span class="text-center spanName">{{item.name}}</span>
        <span class="text-center spanName">{{item.url}}</span>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center spaceB">
      <button class="btn btn-outline-primary mb-2 me-2 bi bi-pencil" (click)="onEdit(item.id)">Editar</button>
      <button class="btn btn-outline-primary mb-2 me-2 bi bi-house-add" (click)="onCallQuartos(item.id)">Quartos</button>
      <button class="btn btn-outline-primary mb-2 me-2 bi bi-lock" (click)="onCallPermission(item.id)">Permissão</button>
    <button class="btn btn-outline-danger  mb-2 me-2 bi bi-trash" (click)="openConfirmModal(item.id, content3)">Excluir</button>
      </div>
      
    </div>
  </div>
  <button class="btn btn-primary mb-2 me-2 bi bi-plus-circle buttonFlutua" (click)="onCallCadastroNew()"> Adicionar</button>
  </div>

  <!-- Modal de confirmação -->

  <ng-template #content3 let-modal>

    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmar exclusão</h4>
      <button type="button" class="btn-close pull-right" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
  <div class="modal-body ZZZ">
      <p>Tem certeza que deseja excluir este item?</p>
    </div>
    <div class="modal-footer">
      
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button class="btn btn-primary" (click)="confirmDelete()">Confirmar</button>

      </div>


 </ng-template>

