<form [formGroup]="formGroup" (ngSubmit)="metaSubmit(formGroup)" class="formCadastro">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nova Meta</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="subbimit.emit()"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="name" class="form-label">Título</label>
      <input type="string" class="form-control" formControlName="title" placeholder="">
   </div>
    <!--
    <div class="mb-3">
      <label class="form-label">Repetir</label>
      <select [ngModel]="3" class="form-select" formControlName="frequency" id="freqSelect" aria-label="Selecione a frequência">
        <option value="1">Todo dia</option>
        <option value="2">Toda semana</option>
        <option value="3">Não</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Periodo</label>
      <select [ngModel]="4" class="form-select" formControlName="hour" id="hourSelect" aria-label="Selecione a hora">
        <option value="1">Manhã</option>
        <option value="2">Tarde</option>
        <option value="3">Noite</option>
        <option value="4">Dia inteiro</option>
      </select>
    </div>-->
    <div class="mb-3">
      <label for="description" class="form-label">Descrição</label>
      <input type="description" formControlName="description" class="form-control">
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary leftButtonCustom">Criar</button>
  </div>
</form>
