<ngb-carousel class="tamanhoSlider">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../../../assets/img1.jpg" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <h3>Conheça a nova coleção!</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../../../assets/img3.jpg" alt="Random second slide" />
        </div>
        <div class="carousel-caption row">
            <h3> Confira a PROMOÇÃO</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../../../assets/img2.jpg" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>Vestidos e roupas leves</h3>
        </div>
    </ng-template>
</ngb-carousel>