.homeComponent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productsContainer{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex{
  display: flex;
}
.categories{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
