.containerCards{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.alinhamentoBotoes{
  display: flex;
  justify-content: flex-end;
}
@import 'primeflex/primeflex.scss';
.flexGrow{
  @include styleclass('flex flex-1 justify-content-center');
}
