<div class="containerHome">
    <div class="propagandaContainer">
      <span>Propaganda do site aqui*</span>
      <img src="https://i.imgur.com/U7GcMwB.jpg" alt="hotel"/>
      <p>Hoteis e pousadas para você escolher! Os melhores hoteis e pousadas do Brasil!</p>

      <hr/>

       <label for="typeahead-format">Busque por um Hotel:</label>
      <input
        id="typeahead-format"
        type="text"
        class="form-control"
        [(ngModel)]="hotel"
        [ngbTypeahead]="search"
        accentSensitive="false"
        [resultFormatter]="formatter"
        [inputFormatter]="formatter"
      />
    </div>
    
   
</div>
