/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.cardItem {
  &.p-card {
    max-width: 350px;
    align-self: center;
  }

  .p-card-body {
    max-height: 120px;
  }

  .p-card-footer {
    margin-top: -50px;
  }
}