/* You can add global styles to this file, and also import other style files */
:root{
  --background-pagina: #fec2f5;
  --font-color-products: #ffffff;
  --toolbar-color: #753399;
  --toolbar-font-color: #ffffff;
  --widget-products-color: #ffffff;
  --color-widget-color-action: black;
  --color-widget-color-action-hover: black;
  --color-widget-color-action-active: black;
  --button-background-color: #753399;
  --font-color-padrao-preto: black;
}

html,
body {
  height: 100%;
  background-color: var(--background-pagina);
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.po-toolbar{
  --color-toolbar-background-color-toolbar: var(--toolbar-color);
  --color-toolbar-color-title: var(--toolbar-font-color);
}
.po-toolbar-icon{
  color: var(--toolbar-font-color);
}
#homeWidget .po-container {
  overflow: hidden;
}
.po-widget{
  background-color: var(--widget-products-color);
  margin-top: 10px;
}
.po-button{
  background-color: var(--button-background-color);
  --color: var(--button-background-color);
  --color-hover: var(--button-background-color);
  --color-pressed: var(--background-pagina);
}
