/* You can add global styles to this file, and also import other style files */
:root{
  --background-pagina: #ffffff;
  --font-color-products: #ffffff;
  --toolbar-color: #020eb9;
  --toolbar-font-color: #ffffff;
  --widget-products-color: #ffffff;
  --background-card-products: rgba(115, 115, 115, 0.18);
  --color-widget-color-action: black;
  --color-widget-color-action-hover: black;
  --color-widget-color-action-active: black;
  --button-background-color: #020eb9;
  --font-color-padrao-preto: black;
  --font-color-padrao-branco: white;
  --products-hover-color: rgba(0, 0, 0, 0.185);
  --color-toolbar-color-default: #020eb9;
  --color-action-default: black;
}

:root .dark-theme{
  --background-pagina: rgba(0, 0, 0, 0.782);
  --font-color-products: #111111;
  --toolbar-color: #020eb9;
  --toolbar-font-color: #ffffff;
  --widget-products-color: #ffffff;
  --background-card-products: rgba(0, 0, 0, 0.362);
  --color-widget-color-action: #ffffff;
  --color-widget-color-action-hover: #ffffff;
  --color-widget-color-action-active: #ffffff;
  --button-background-color: #ffffff;
  --font-color-padrao-preto: #ffffff;
  --font-color-padrao-branco: #111111;
  --products-hover-color: #b6b6b6;
  --color-toolbar-color-default: #020eb9;
  --color-action-default: black;
}

html,
body {
  height: 110vh;
  background-color: var(--background-pagina);
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,h2,p{
  color: var(--font-color-padrao-preto);
}
.po-toolbar{
  --color-toolbar-background-color-toolbar: var(--toolbar-color);
  --color-toolbar-color-title: var(--toolbar-font-color);
}
.po-toolbar-icon{
  color: var(--toolbar-font-color);
}
#homeWidget .po-container {
  overflow: hidden;
}
.po-widget{
  background-color: var(--widget-products-color);
  margin-top: 10px;
}
.po-button{
  color: var(--button-background-color);
  background-color: var(--button-background-color);
  --color: var(--button-background-color);
  --color-hover: var(--button-background-color);
  --color-pressed: var(--background-pagina);
}
.po-tab-button-label:hover{
  color: var(--font-color-padrao-preto);
}
.po-tab-button{
  color: var(--button-background-color);
  --color-tab-button-box-shadow-active: #020eb9;
}
