<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- Sobrescreve o header errado -->
        <remove name="Cross-Origin-Opener-Policy" />
        <add name="Cross-Origin-Opener-Policy" value="same-origin-allow-popups" />
        <remove name="Cross-Origin-Embedder-Policy" />
        <add name="Cross-Origin-Embedder-Policy" value="unsafe-none" />
        <add name="Access-Control-Allow-Origin" value="https://api.turify.com.br, https://turify.com.br" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
      </customHeaders>
    </httpProtocol>

    <!-- Angular SPA: redireciona todas as rotas pro index.html -->
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
